body{
display: flex;
height: 100vh;
justify-content: center;
align-items: center;
background: lightgray;
}

.box{
background: white;
padding: 20px;
border-radius: 10px;
text-align: center;
box-shadow: 0 0 10px gray;
}

h1{
color: red;
margin-bottom: 10px;
}

p{
color: blue;
margin-bottom: 15px;
}

button{
width: 100%;
background: green;
color: white;
padding: 10px;
border: none;
cursor: pointer;

}

button:hover{
background: darkgreen;
}