body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: lightgray;
}

.login {
  background: white;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0 0 10px gray;
  text-align: center;
}

input {
  width: 200px;
  padding: 10px;
  margin: 10px 0;
}

button {
  width: 100%;
  padding: 10px;
  background: blue;
  color: white;
  border: none;
}

button:hover {
  background: red;
}