body{
display: flex;
justify-content: center;
align-items: center;
height: 100vh;
}

.box{
display: flex;
}

.box1{
width: 200px;
padding: 20px;
margin: 20px;
background-color: red;
}

.box2{
width: 200px;
padding: 20px;
margin: 20px;
background-color: pink;
}